:root {
  --fg-color: #b1d7d0;
  --bg-color: #1a201f;

  --sans-serif: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
  --monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
    "DejaVu Sans Mono", monospace;
}

body {
  color: var(--fg-color);
  background-color: var(--bg-color);

  font-family: var(--sans-serif);
}

@supports (font-variation-settings: "wdth" 115) {
  h1 {
    font-family: "Inter var", "Inter Variable", var(--sans-serif);
  }
}

a {
  color: currentColor;
}

.description {
	white-space: pre-wrap;
}
